name: Deploy to CapRover

on:
  push:
    branches:
      - main

jobs:
  deployment:
    environment: CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"

      - name: Install Composer dependencies
        run: composer install --no-dev --optimize-autoloader

      - name: Install npm dependencies and build assets
        run: |
          npm install
          npm run build

      - name: Install CapRover CLI
        run: npm install -g caprover

      - name: Deploy to CapRover
        uses: floms/action-caprover@v1
        with:
          host: ${{ secrets.CAPROVER_HOST }}
          password: ${{ secrets.CAPROVER_PASSWORD }}
          app: "ada-dev"
