name: Deploy to CapRover

on:
  push:
    branches:
      - main

jobs:
  deployment:
    environment: CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"

      - name: Install Composer dependencies
        run: composer install --no-dev --optimize-autoloader

      - name: Install npm dependencies and build assets
        run: |
          npm install
          npm run build

      - name: Install CapRover CLI
        run: npm install -g caprover

      - name: Deploy to CapRover
        env:
          CAPROVER_PASSWORD: ${{ secrets.CAPROVER_PASSWORD }}
          CAPROVER_HOST: ${{ secrets.CAPROVER_HOST }}
        run: caprover deploy -h ${CAPROVER_HOST} -p ${CAPROVER_PASSWORD} -a tes
